{% extends "detector/base.html" %}
{% block content %}

<div>
  <h4>Upload image</h4>
  <p>Select upload image</p>
  <form action="{{ url_for('detector.upload_image') }}" method="post" enctype="multipart/form-data"
    novalidate="novalidate">
    <div>
      <label>
        <span> {{ form.image(class="form-control-file") }} </span>
      </label>
    </div>
    {% for error in form.image.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <hr>
    <div>
      <label> {{ from.submit(class="btn btn-primary") }} </label>
    </div>
  </form>
</div>
{% endblock %}