{% extends "crud/base.html" %}
{% block title %}List of users{% endblock %}
{% block content %}
<h2>List of users</h2>

<a href="{{ url_for('crud.create_user') }}">Create new user</a>

<table>
  <tr>
    <th>User ID</th>
    <th>Username</th>
    <th>Email address</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>
      <a href="{{ url_for('crud.edit_user', user_id=user.id) }}">{{ user.id }}</a>
    </td>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}